/* IE8 */

/*#edit-search-theme-form-1-wrapper input {
	display: block;
	padding-top: 6px;
	height: 21px;
}

#edit-search-wrapper { width: 241px; }

#edit-search-wrapper input {
	height: 20px;
	padding-top: 6px;
	display: block;
}

#precontent .views-widget .form-item input { display: block; }

.grid-type-1 .view-content .item-list li.views-row {
    background-color: #FFFFFF !important;
    background-image: none !important;
    border: 2px solid #E1E1E1;
    border-radius: 12px 12px 12px 12px;
    display: block;
    margin-bottom: 15px;
    overflow: hidden;
    padding: 10px !important;
    width: 45.5%;
}

.calendar-calendar td { width: 12%; }

.views-exposed-widgets { width: 100%; }

.views-exposed-widget { min-width: 100px; }

#views-exposed-form-ciclo-task-user-page-1 .views-exposed-widgets { width: 85%; }

.views-exposed-widget select { width: auto; }

#block-quicktabs-ciclo_catalog_tabs .view-filters .views-exposed-widgets { float: left; }

#block-quicktabs-ciclo_catalog_tabs .view-filters #edit-title { width: 165px !important; }

#block-quicktabs-ciclo_catalog_tabs .view-filters .views-exposed-submit {
	margin: 0 !important;
	padding: 0 !important;
	float: left !important;
}

.calendar-calendar { margin-bottom: 20px; }
#block-views-user_meta-block_1, #block-user-0 { height: 99px; }
.sidebar-last .block h2.block-title {
    background: none repeat scroll 0 0 #F08A2A;}*/
.page-node    .block-ciclo_catalog_breadcrumb ul li{
    background-image:url('../images/tree_sprite.png');
    background-repeat:no-repeat;
    background-position: right -91px;
    height: 25px;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 4;
}
.page-node  .block-ciclo_catalog_breadcrumb li a{
    background: none repeat scroll 0 0 #E9E9E9;
    font-size: 13px;
    color: #333;
    font-weight: normal;
    line-height: 25px;
    margin-right: 17px;
    display: block;
    height: 25px;
    padding: 0 5px 0 15px;
    text-shadow: 1px 0 0 #FFFFFF, 1px 0 0 #FFFFFF, 1px 0 #FFFFFF, 0 0 #FFFFFF;
    font-family: 'Cabin', sans-serif;
       text-transform: uppercase;
}

#nivaria-navigation-tree ins{
	top: 3px;
}

#bt-search-nivaria-navigation-tree{
	margin-top: 2px;
}

form#search-theme-form input.form-submit {
	margin-top: 3px;
}

.views-exposed-wrapper .views-exposed-widget.views-exposed-submit {
    width: 37px !important;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}