/* IE9 */

#precontent .views-exposed-form .views-exposed-widgets .views-exposed-widget .select-as-links-with-search-container {
	/*top: 30px;*/
}

#sidebar-last-wrapper { float:right !important; }

#sidebar-last { clear: none; }
#sidebar-last .item-list ul.pager{
    filter:none;
}